#palette-zone{
    margin: 5% auto;
    align-items: center;
    justify-content: center;
}
.title{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
    font-family: "Montserrat";
    
}
.color-div {
    float: left;
    height: 100%;
    width: 20%;
    border: 1px solid ghostwhite;
    color: ghostwhite;
    font-size: 0.8em;
    text-align: center;
    text-shadow: 0 0 5px black;
    display: flex;
}

@media only screen and (max-width : 400px) {
    .color-div {
font-size: 0.6em;    
}
}

.color-div span{
    align-self: flex-end;
    text-align: center;
    margin: 8%;
}
#submit-button{
    margin: 5%;
    justify-content: center;
}
#save-button{
    float: right;
    width: 30%;
    height: 40%;
    padding: 2%;
}
#color-picker{
    width: 20%;
    aspect-ratio: 1/1;
    margin: 5%;
    padding: 5%;
    }
#predicted-palette{
    width: 80%;
    aspect-ratio: 5/1;
    border: 3px solid rgb(238, 238, 245);
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}
#controls{
    font-family: "Montserrat";
    width: 100%;
    height: 10%;
    margin: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
    align-items: center;
}
#title{
    margin: 5% auto;
    padding: 1%;
    font-size: 2.0em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
}

#applet {
    width: 100%;
    padding: 1%;
    justify-content: center;
    align-items: center;
}
#instructions{
    font-family: "Montserrat";
    width: 100%;
    margin: 1%;
    padding: 1%;
    color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    justify-content: center;
}

#color-picker-with-instructions{
    font-family: "Montserrat";
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

#submit-button-with-instructions{
    font-family: "Montserrat";
    display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
}

